@{
    ViewData["Title"] = "Privacy Policy";
}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <nav>
        <div class="container">
          <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li>Privacy</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->
