@{
    ViewData["Title"] = "Services ";
}


<main>

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <nav>
        <div class="container">
          <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li>Services</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->


  <section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1 class="fw-light">Our Exceptional Services</h1>
      <p class="lead text-muted">Discover a world of top-notch services tailored to meet your unique needs. We're here to make your experience exceptional.</p>
      <p>
        <a href="#services" class="btn btn-primary my-2">Explore Services</a>
        <a class="btn btn-secondary my-2 asp-controller="Home" asp-action="Contact">Contact Us</a>
      </p>
    </div>
  </div>
</section>


  <div class="album py-5 bg-light" id="services">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
   <div class="col">
  <div class="card shadow-sm">
    <img src="~/img/trucking-service.jpg" class="testimonial-img" alt="Trucking Service">
    <div class="card-body">
      <p class="card-text">Professional trucking services: safe, efficient, on-time cargo delivery. We handle your goods with care.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
        <a class="btn btn-outline-secondary btn-sm px-3" asp-controller="Home" asp-action="TruckingServiceDetails">Details</a>
         </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <img src="~/img/storage-service.jpg" class="testimonial-img" alt="Storage Service">
    <div class="card-body">
      <p class="card-text">Secure storage solutions for your peace of mind. Keep belongings safe with our designed facilities.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
        <a class="btn btn-outline-secondary btn-sm px-3" asp-controller="Home" asp-action="StorageServiceDetails">Details</a>
         </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <img src="~/img/logistics-service.jpg" class="testimonial-img" alt="Storage Service">
    <div class="card-body">
      <p class="card-text">Efficient logistics tailored to your needs. We simplify complexities, so you can focus on business growth.</p>
     <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
        <a class="btn btn-outline-secondary btn-sm px-3" asp-controller="Home" asp-action="LogisticsServiceDetails">Details</a>
         </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <img src="~/img/warehousing-service.jpg" class="testimonial-img" alt="Warehousing Service">
    <div class="card-body">
      <p class="card-text">State-of-the-art warehousing: efficient inventory storage with maximum protection and accessibility for your goods.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
        <a class="btn btn-outline-secondary btn-sm px-3" asp-controller="Home" asp-action="WarehousingServiceDetails">Details</a>
         </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <img src="~/img/cargo-service.jpg" class="testimonial-img" alt="Cargo Service">
    <div class="card-body">
      <p class="card-text">Reliable cargo services for on-time delivery. We handle your cargo with care to ensure perfect delivery.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
        <a class="btn btn-outline-secondary btn-sm px-3" asp-controller="Home" asp-action="CargoServiceDetails">Details</a>
         </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <img src="~/img/packaging-service.jpg" class="testimonial-img" alt="Packaging Service">
    <div class="card-body">
      <p class="card-text">Expert packaging services for safe transit. Your items arrive in perfect condition with our expert care.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
        <a class="btn btn-outline-secondary btn-sm px-3" asp-controller="Home" asp-action="PackagingServiceDetails">Details</a>
         </div>
      </div>
    </div>
  </div>
</div>


      </div>
    </div>
  </div>

</main>
